@font-face {
    font-family: "Edo";
    src: url("/media/edosz.ttf");
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #eee;
    background: #aaa;
    background-image: url('/img/mountain_bg.jpg');
    background-position: center top;
    background-size: cover;
    font-family: "Edo";
    
}

section.board {
    display: grid;
    grid-template-rows: repeat(3, 16vmin);
    grid-template-columns: repeat(3, 16vmin);
    grid-gap: 0vmin;
    margin: 4vmin auto 0 auto;
}

section div {
    border: 2px solid rgba(123, 45, 38, .9);
    font-size: 13vmin;
    text-align: center;
    vertical-align: middle;
}

section .ecks {
    color: rgba(50, 50, 50, 1);
    display: inline-block;
}
section .oh {
    color: rgba(225, 225, 225, 1);
    display: inline-block;
}

section div:hover {
    background-color:rgba(225, 225, 225, .3);
}

h1 {
    margin: 3vmin 0 0 0;
    font-family: "Edo";
    font-size: 12vmin;
    color: rgba(62, 80, 91, 1); 
    text-shadow: rgb(206, 225, 242) 2px 2px 10px;
}

h1 span {
    display: inline-block;
}

h2 {
    margin: 3vmin 0 0 0;
    font-size: 5vmin;
    color: rgba(241, 228, 232, 1);
    text-shadow:rgba(123, 45, 38, 1) 2px 2px 10px;
}

.top {
    border-top: 0;
}

.right {
    border-right: 0;
}

.bottom {
    border-bottom: 0;
}

.left {
    border-left: 0;
}

#replayButton {
    background-color: #f69e7a;
    border: solid 2px rgba(62, 80, 91, 1);
    padding: 15px 25px;
    border-radius: 10px;
    color: rgba(62, 80, 91, 1);
    font-family: "Edo";
    font-size: 3vmin;
    transition: color 0.3s;
}
#replayButton:hover {
    color: rgba(241, 228, 232, 1);
}
#replayButton:active {
    color: rgba(241, 228, 232, 1);
    background-color: rgba(123, 45, 38, 1);
}

p {
    margin: 4vmin 0 0 0
}

.hide {
    opacity: 0;
}